### Classificação de ocupações da PNADC 2019 com ocupações traduzidas

Classificar as ocupações segundo a tabela de ocupações traduzidas para a COD.

Verificar se o percentual de ocupações da tabela 1 do artigo diz respeito a base da PNAD Contínua, em vez da COVID.

In [2]:
import pandas as pd

In [29]:
#Importação dos dados da PNAD Contínua

pnadc_19 = pd.read_parquet('../Dados/pnad/PNADC_2019_editado.parquet')

In [6]:
ocupacoes = pd.read_excel('../Anexos/ocupacoes_traduzidas.xlsx')

In [27]:
ocupacoes_filtrado = ocupacoes[['Grupos de Base', 'Grandes Grupos', 'teleworkable']]

In [28]:
ocupacoes_filtrado['Grupos de Base'] = ocupacoes_filtrado['Grupos de Base'].astype(str).apply(lambda x: x[0:4])

C:\Users\est.matheus.brasil\AppData\Local\Temp\ipykernel_11784\2860122554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ocupacoes_filtrado['Grupos de Base'] = ocupacoes_filtrado['Grupos de Base'].astype(str).apply(lambda x: x[0:4])

In [30]:
pnadc_19 = pnadc_19.merge(ocupacoes_filtrado, left_on='V4010', right_on='Grupos de Base', how='left')

In [32]:
pnadc_19.head()

,Trimestre,V4010,UF,V2007,V2010,VD4019,V4013,VD3004,VD4009,V4019,V1032,dummy_infra,Grupos de Base,Grandes Grupos,teleworkable
0,1,3221,Rondônia,Mulher,Parda,1583.0,86001,Superior completo,Empregado no setor privado com carteira de tra...,NaN,149.43857,0,3221,3.0,0.0
1,1,None,Rondônia,Homem,Parda,NaN,None,Fundamental completo ou equivalente,NaN,NaN,149.43857,0,NaN,NaN,NaN
2,1,None,Rondônia,Mulher,Branca,NaN,None,Médio completo ou equivalente,NaN,NaN,149.43857,0,NaN,NaN,NaN
3,1,None,Rondônia,Mulher,Parda,NaN,None,Médio completo ou equivalente,NaN,NaN,149.43857,0,NaN,NaN,NaN
4,1,None,Rondônia,Homem,Parda,NaN,None,Sem instrução e menos de 1 ano de estudo,NaN,NaN,149.43857,0,NaN,NaN,NaN

In [49]:
pnadc_19.groupby('Grandes Grupos')['Grupos de Base'].count()

Grandes Grupos
1.0    30350
2.0    65861
3.0    35123
4.0    15337
5.0    77364
6.0    98483
7.0    77498
8.0    41055
9.0    79479
Name: Grupos de Base, dtype: int64

In [56]:
pnadc_19[(pnadc_19['teleworkable']==1)].groupby('Grandes Grupos')['Grupos de Base'].count()

Grandes Grupos
1.0    23979
2.0    46790
3.0    13033
4.0    10060
5.0    19440
6.0    19554
7.0      518
8.0    10262
9.0     2966
Name: Grupos de Base, dtype: int64

In [59]:
pnadc_19[(pnadc_19['dummy_infra']==1)&(pnadc_19['teleworkable']==1)].groupby('Grandes Grupos')['Grupos de Base'].count() / pnadc_19[(pnadc_19['teleworkable']==1)].groupby('Grandes Grupos')['Grupos de Base'].count()

Grandes Grupos
1.0    0.802953
2.0    0.882539
3.0    0.806338
4.0    0.677932
5.0    0.429990
6.0    0.182776
7.0    0.293436
8.0    0.412200
9.0    0.231288
Name: Grupos de Base, dtype: float64