# Estimação do potencial de trabalho remoto no Brasil em 2019 

A estimação será feita usando, primeiramente, a base da PNAD Contínua suplementar de 2019 e, depois, a PNAD COVID

Foi adotado a hipótese de que a perda de potencial de trabalho remoto devido à falta de infraestrutura é a mesma na PNAD-COVID que na PNAD Contínua de 2019.

Trabalhar com as seguintes variáveis da PNAD Contínua: 
- V4010, que classifica as diversas ocupações, 
- a unidade da federação (UF), 
- gênero (V2007), 
- raça (V2010), 
- renda em todos os trabalhos (VD4019), 
- Setor Público (V4013), 
- educação (VD3004), 
- formal/informal (combinação da variável VD4009 com a variável V4019) e 
- o peso amostral (V1032).

Não esquecer de filtrar a base para os registros que a 'dummy_infra' igual à 1.

In [52]:
#pacotes 
import pandas as pd
import numpy as np
import datetime as dt

In [53]:
#Importação dos dados da PNAD Contínua 2019 (suplementar)

#determina qual diretório usar para cada sistema operacional.
import os
if os.name == 'nt': #windows
    diretorio = 'C:\\Users\\est.matheus.brasil\\Documents\\Microdados PNAD Contínua\\suplementar\\'

else: #linux(ou mac)
    diretorio = '/home/matheus/Microdados PNAD/feather/'

filtro = ['Trimestre','V4010', 'UF', 'V2007', 'V2010', 'VD4019', 'V4013', 'VD3004', 'VD4009', 'V4019', 'V1032', 'dummy_infra']

pnadc_19 = pd.read_feather(fr'{diretorio}PNADC_2019_editado.feather', columns=filtro)

#Importação dos códigos de ocupação traduzidos

ocupacoes = pd.read_excel('../Anexos/ocupacoes_traduzidas.xlsx')

In [54]:
ocupacoes.head(3)

  code_ONET        Title_ONET  teleworkable  Cod             Titulação
0   11-1011  Chief Executives             1    1  DIRETORES E GERENTES
1   11-1011  Chief Executives             1    1  DIRETORES E GERENTES
2   11-1011  Chief Executives             1    1  DIRETORES E GERENTES

In [55]:
pnadc_19.head(3)

,Trimestre,V4010,UF,V2007,V2010,VD4019,V4013,VD3004,VD4009,V4019,V1032,dummy_infra
0,1,3221,Rondônia,Mulher,Parda,1583.0,86001,Superior completo,Empregado no setor privado com carteira de tra...,NaN,149.43857,0
1,1,None,Rondônia,Homem,Parda,NaN,None,Fundamental completo ou equivalente,NaN,NaN,149.43857,0
2,1,None,Rondônia,Mulher,Branca,NaN,None,Médio completo ou equivalente,NaN,NaN,149.43857,0

### Junção dos códigos de ocupação com os dados da PNAD Contínua

In [56]:
pnadc_19['V4010'].value_counts().sort_index()

0000     33
0110    116
0210    573
0411     78
0412    715
       ...
9621    457
9622     25
9623     36
9624      9
9629    507
Name: V4010, Length: 427, dtype: int64

In [57]:
#Coluna com o código da ocupação Major das ocupações traduzidas
pnadc_19['COD_OCUP_MAJ'] = pnadc_19['V4010'].astype(str).str[:1]

In [62]:
ocupacoes['Cod'] = ocupacoes['Cod'].astype(str)

In [63]:
pnadc_19_remoto = pd.merge(pnadc_19, ocupacoes, left_on='COD_OCUP_MAJ', right_on='Cod', how='left')

In [64]:
pnadc_19_remoto.head(2)

,Trimestre,V4010,UF,V2007,V2010,VD4019,V4013,VD3004,VD4009,V4019,V1032,dummy_infra,COD_OCUP_MAJ,code_ONET,Title_ONET,teleworkable,Cod,Titulação
0,1,3221,Rondônia,Mulher,Parda,1583.0,86001,Superior completo,Empregado no setor privado com carteira de tra...,NaN,149.43857,0,3,11-9141,"Property, Real Estate, and Community Associati...",1.0,3,TÉCNICOS E PROFISSIONAIS DE NÍVEL MÉDIO
1,1,3221,Rondônia,Mulher,Parda,1583.0,86001,Superior completo,Empregado no setor privado com carteira de tra...,NaN,149.43857,0,3,13-1021,"Buyers and Purchasing Agents, Farm Products",1.0,3,TÉCNICOS E PROFISSIONAIS DE NÍVEL MÉDIO

### Trabalho remoto potencial

In [78]:
pnadc_19_remoto.groupby('Titulação')['V4010'].count()

Titulação
DIRETORES E GERENTES                                                                                     871542
OCUPAÇÕES ELEMENTARES                                                                                   1950088
OPERADORES DE INSTALAÇÕES E MÁQUINAS E MONTADORES                                                       1557504
OUTROS                                                                                                   279384
PROFISSIONAIS DAS CIÊNCIAS E INTELECTUAIS                                                               5116839
TRABALHADORES DE APOIO ADMINISTRATIVO                                                                    502793
TRABALHADORES DOS SERVIÇOS, VENDEDORES DOS COMÉRCIOS E MERCADOS                                         2828732
TRABALHADORES QUALIFICADOS DA AGROPECUÁRIA, FLORESTAIS, DA CAÇA E DA PESCA                              1651179
TRABALHADORES QUALIFICADOS, OPERÁRIOS E ARTESÃOS DA CONSTRUÇÃO, DAS ARTES MECÂNICAS E OUTROS OFÍCIOS    3897330
TÉCNICOS E PROFISSIONAIS DE NÍVEL MÉDIO                                                                 3369475
Name: V4010, dtype: int64

In [79]:
pnadc_19_remoto[pnadc_19_remoto['dummy_infra'] == 1].groupby('Titulação')['V4010'].count() / pnadc_19_remoto.groupby('Titulação')['V4010'].count()

Titulação
DIRETORES E GERENTES                                                                                    0.769987
OCUPAÇÕES ELEMENTARES                                                                                   0.205841
OPERADORES DE INSTALAÇÕES E MÁQUINAS E MONTADORES                                                       0.386552
OUTROS                                                                                                  0.755262
PROFISSIONAIS DAS CIÊNCIAS E INTELECTUAIS                                                               0.841648
TRABALHADORES DE APOIO ADMINISTRATIVO                                                                   0.643094
TRABALHADORES DOS SERVIÇOS, VENDEDORES DOS COMÉRCIOS E MERCADOS                                         0.429938
TRABALHADORES QUALIFICADOS DA AGROPECUÁRIA, FLORESTAIS, DA CAÇA E DA PESCA                              0.175733
TRABALHADORES QUALIFICADOS, OPERÁRIOS E ARTESÃOS DA CONSTRUÇÃO, DAS ARTES MECÂNICAS E OUTROS OFÍCIOS    0.359264
TÉCNICOS E PROFISSIONAIS DE NÍVEL MÉDIO                                                                 0.704286
Name: V4010, dtype: float64