# Tradução dos Códigos de Ocupação O*NET para ocupações do Brasil (COD 2010)

Para aplicar a metodologia de Dingel e Neiman, é necessário realizar a tradução dos códigos de ocupações para ocupações do Brasil.

**Passo-a-passo da tradução dos códigos de ocupação, segundo artigo da FGV:**

1. Primeiro, realizamos uma tradução das 968 ocupações da O*NET para a Standard Occupational Classification de 2010 (SOC-2010), utilizada na pesquisa por domicílios americana (Current Population Survey - CPS);
2. Em seguida, reclassificamos as ocupações da SOC-2010 para a ISCO-08, para então; 
3. traduzirmos para a COD utilizada na PNAD Contínua. 

As reclassificações foram realizadas conforme o diagrama abaixo.

#### Diagrama para tradução dos códigos de ocupação (FGV, 2021)
![Diagrama](../Anexos/diagrama_traducao.png)

Link para base de ocupações da O*NET: [O*NET OnLine](https://www.onetonline.org/find/all)

Link para base de ocupações da SOC-2010: [U.S. BUREAU OF LABOR STATISTICS](https://www.bls.gov/soc/2010/home.htm)

Link para base de ocupações da ISCO-08: [International Labour Organization](https://isco-ilo.netlify.app/en/isco-08/)

In [1]:
#pacotes
import pandas as pd
import numpy as np

In [186]:
#Leitura das bases (tabelas de ocupação e de pessoas)

onet = pd.read_excel('../Anexos/Occupations_ONET.xlsx') #Ocupações O*NET
soc2010 = pd.read_excel('../Anexos/Occupations_SOC-2010.xlsx') #Ocupações SOC-2010
isco08 = pd.read_excel('../Anexos/Occupations_ISCO-08.xlsx') #Ocupações ISCO-08
cod2010 = pd.read_excel('../Anexos/COD 2010.xlsx') #Ocupações COD 2010

### Tradução do O\*NET para o SOC-2010 

A tradução deve ser feita usando como refência o código do Major Group e título da ocupação

In [187]:
soc2010filtrado = soc2010[['Major Group', 'Title']]
soc2010filtrado.columns = ['code_SOC', 'Title_SOC']
soc2010filtrado.dropna(inplace=True)

#Captura somente o codigo major
soc2010filtrado['code_SOC'] = soc2010filtrado['code_SOC'].apply(lambda x: x[:2])

<ipython-input-187-0d9b11ca96c1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  soc2010filtrado.dropna(inplace=True)
<ipython-input-187-0d9b11ca96c1>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  soc2010filtrado['code_SOC'] = soc2010filtrado['code_SOC'].apply(lambda x: x[:2])

In [188]:
onet_filtrado = onet[['Code', 'Occupation']]
onet_filtrado.columns = ['code_ONET', 'Title_ONET']

#captura somente o codigo major
onet_filtrado['code_ONET'] = onet_filtrado['code_ONET'].apply(lambda x: x[0:2])

<ipython-input-188-6473b1e72ac0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  onet_filtrado['code_ONET'] = onet_filtrado['code_ONET'].apply(lambda x: x[0:2])

In [189]:
#join onet_filtrado e soc2010filtrado by column Code_ONET and code_SOC

ocupacoes_agregado = pd.merge(onet_filtrado, soc2010filtrado, how='left', left_on='code_ONET', right_on='code_SOC')

### Tradução de SOC-2010 para ISCO-08

In [191]:
isco08

,Level,ISCO 08 Code,Title EN,Definition,Tasks include,Included occupations,Excluded occupations,Notes
0,1,1,Managers,"Managers plan, direct, coordinate and evaluate...",Tasks performed by managers usually include: f...,Occupations in this major group are classified...,NaN,In distinguishing between managers classified ...
1,2,11,"Chief Executives, Senior Officials and Legisla...","Chief executives, senior officials and legisla...",Tasks performed by workers in this sub-major g...,Occupations in this sub-major group are classi...,NaN,NaN
2,3,111,Legislators and Senior Officials,"Legislators and senior officials determine, fo...",Tasks performed usually include: presiding ove...,Occupations in this minor group are classified...,NaN,NaN
3,4,1111,Legislators,"Legislators determine, formulate, and direct p...",Tasks include -\n(a) presiding over or partic...,Examples of the occupations classified here:\n...,NaN,NaN
4,4,1112,Senior Government Officials,Senior government officials advise governments...,"Tasks include -\n(a) advising national, state...",Examples of the occupations classified here:\n...,NaN,Chief executives of Government-owned enterpris...
...,...,...,...,...,...,...,...,...
614,3,21,Non-commissioned Armed Forces Officers,Non-commissioned armed forces officers enforce...,NaN,Occupations in this minor group are classified...,Excluded from this group are: \n - jobs held ...,NaN
615,4,210,Non-commissioned Armed Forces Officers,Non-commissioned armed forces officers enforce...,NaN,Examples of the occupations classified here:\n...,Excluded from this group are: \n - jobs held ...,NaN
616,2,3,"Armed Forces Occupations, Other Ranks","Armed forces occupations, other ranks include ...",NaN,Occupations in this sub-major group are classi...,Excluded from this group are: \n - jobs held ...,NaN
617,3,31,"Armed Forces Occupations, Other Ranks","Armed forces occupations, other ranks include ...",NaN,Occupations in this minor group are classified...,"parné\ndinero, posibles, cuartos, guita, mosca...",NaN
618,4,310,"Armed Forces Occupations, Other Ranks","Armed forces occupations, other ranks include ...",NaN,Examples of the occupations classified here:\n...,Excluded from this group are: \n - jobs held ...,NaN

In [192]:
isco08_filtrado = isco08[['ISCO 08 Code', 'Title EN']]
isco08_filtrado.columns = ['code_ISCO', 'Title_ISCO']

In [197]:
isco08_filtrado['code_ISCO'] = isco08_filtrado['code_ISCO'].astype(str)

<ipython-input-197-1c71da7cd0a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isco08_filtrado['code_ISCO'] = isco08_filtrado['code_ISCO'].astype(str)

In [198]:
ocupacoes_agregado = pd.merge(ocupacoes_agregado, isco08_filtrado, how='left', left_on='code_SOC', right_on='code_ISCO')

### Tradução de ISC08 para COD 2010

In [205]:
cod2010_filtrado = cod2010[[0, 'Titulação']]
cod2010_filtrado.columns = ['code_COD', 'Title_COD']

In [207]:
cod2010_filtrado['code_COD'] = cod2010_filtrado['code_COD'].astype(str)

<ipython-input-207-98ac99947700>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cod2010_filtrado['code_COD'] = cod2010_filtrado['code_COD'].astype(str)

In [209]:
ocupacoes_agregado = pd.merge(ocupacoes_agregado, cod2010_filtrado, how='left', left_on='code_ISCO', right_on='code_COD')

In [219]:
onet

,Job Zone,Code,Occupation,Data-level
0,4.0,13-2011.00,Accountants and Auditors,Y
1,2.0,27-2011.00,Actors,Y
2,4.0,15-2011.00,Actuaries,Y
3,5.0,29-1291.00,Acupuncturists,Y
4,3.0,29-1141.01,Acute Care Nurses,Y
...,...,...,...,...
1011,NaN,51-7099.00,"Woodworkers, All Other",NaN
1012,2.0,51-7042.00,"Woodworking Machine Setters, Operators, and Te...",Y
1013,2.0,43-9022.00,Word Processors and Typists,Y
1014,4.0,27-3043.00,Writers and Authors,Y
1015,5.0,19-1023.00,Zoologists and Wildlife Biologists,Y

In [215]:
ocupacoes_agregado.dropna()

,code_ONET,Title_ONET,code_SOC,Title_SOC,code_ISCO,Title_ISCO,code_COD,Title_COD
0,13,Accountants and Auditors,13,Business and Financial Operations Occupations,13,Production and Specialized Services Managers,13,DIRIGENTES E GERENTES DE PRODUÇÃO E OPERAÇÃO
5,25,Adapted Physical Education Specialists,25,"Education, Training, and Library Occupations",25,Information and Communications Technology Prof...,25,PROFISSIONAIS DE TECNOLOGIAS DA INFORMAÇÃO E C...
7,23,"Administrative Law Judges, Adjudicators, and H...",23,Legal Occupations,23,Teaching Professionals,23,PROFISSIONAIS DO ENSINO
8,11,Administrative Services Managers,11,Management Occupations,11,"Chief Executives, Senior Officials and Legisla...",11,"DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRA..."
9,11,Administrative Services Managers,11,Management Occupations,11,Commissioned Armed Forces Officers,11,"DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRA..."
...,...,...,...,...,...,...,...,...
1101,13,"Wholesale and Retail Buyers, Except Farm Products",13,Business and Financial Operations Occupations,13,Production and Specialized Services Managers,13,DIRIGENTES E GERENTES DE PRODUÇÃO E OPERAÇÃO
1102,11,Wind Energy Development Managers,11,Management Occupations,11,"Chief Executives, Senior Officials and Legisla...",11,"DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRA..."
1103,11,Wind Energy Development Managers,11,Management Occupations,11,Commissioned Armed Forces Officers,11,"DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRA..."
1105,11,Wind Energy Operations Managers,11,Management Occupations,11,"Chief Executives, Senior Officials and Legisla...",11,"DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRA..."
1106,11,Wind Energy Operations Managers,11,Management Occupations,11,Commissioned Armed Forces Officers,11,"DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRA..."

In [214]:
ocupacoes_agregado.dropna()['Title_COD'].value_counts()

DIRETORES EXECUTIVOS, DIRIGENTES DA ADMINISTRAÇÃO PÚBLICA E MEMBROS DO PODER EXECUTIVO E LEGISLATIVO    118
PROFISSIONAIS DE TECNOLOGIAS DA INFORMAÇÃO E COMUNICAÇÕES                                                68
DIRIGENTES E GERENTES DE PRODUÇÃO E OPERAÇÃO                                                             50
PROFISSIONAIS DE NÍVEL MÉDIO DAS CIÊNCIAS E DA ENGENHARIA                                                40
PROFISSIONAIS DAS CIÊNCIAS E DA ENGENHARIA                                                               36
PROFISSIONAIS DO ENSINO                                                                                   8
Name: Title_COD, dtype: int64